jiayan==0.0.21
jieba==0.42.1
jsonlines==3.1.0
numpy==1.24.3
pydantic==1.10.7
PyYAML==6.0
Requests==2.31.0
scikit_learn==1.0.2
seqeval==1.2.2
torch==1.12.1
torch_xla==1.0
tqdm==4.65.0
transformers==4.21.2